<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Apache Oltu - OAuth Clients</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Apache Oltu - OAuth Clients</h1>
        <div>
            <div>
                <span>Login with:</span>
            </div>
            <div>
                <ul>
                    <li th:each="clientRegistration : ${clientRegistrations}">
                        <a href="/oauth2/authorize" th:href="@{'/oauth2/authorize/' + ${clientRegistration.clientAlias}}"><span th:text="${clientRegistration.clientName}">Client Name</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
