<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Apache Oltu - OAuth User Info</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Apache Oltu - OAuth User Info</h1>
        <div>
            Logged in user: <span th:text="${userIdentifier}"></span>
        </div>
        <div>&nbsp;</div>
        <div>
            User Attributes: <span th:text="${userAttributes}"></span>
        </div>
    </body>
</html>