<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Nimbus - OAuth Client Sample</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Nimbus - OAuth Client Sample</h1>
        <div>
            <div>
                <span>Authorize with:</span>
            </div>
            <div>
                <ul>
                    <li th:each="clientConfiguration : ${clientConfigurations}">
                        <a href="/oauth2/authorize" th:href="@{/oauth2/authorize(client_guid=${clientConfiguration.clientGuid})}"><span th:text="${clientConfiguration.clientName}">Client Name</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
