<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Google OAuth Client Sample</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <h1>Google OAuth Client Sample</h1>
        <div>
            <div>
                <span>Login with:</span>
            </div>
            <div>
                <ul>
                    <li><a href="/auth/google">Google</a></li>
                    <li><a href="/auth/github">GitHub</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>